<!DOCTYPE html>
<html>
  <head>
    <title>Caredashfront</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <% if !current_user %>
            <a data-toggle="modal" data-target="#myModal"><button class='login' id='nav'>Login</button></a>
          <% else %>
            <%= link_to 'Logout', logout_path, class: 'btn btn-danger login' %>
          <% end%>
          <li class="dropdown menu">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Page 1-1</a></li>
              <li><a href="#">Page 1-2</a></li>
              <li><a href="#">Page 1-3</a></li>
            </ul>
          </li>
        </div>
        <li class="dropdown menu">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 2
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 2-1</a></li>
            <li><a href="#">Page 2-2</a></li>
            <li><a href="#">Page 2-3</a></li>
          </ul>
        </li>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      </div>
    </div>
    </nav>
    <% if flash[:success] %>
      <div class="container small-container">
        <div class="alert alert-danger">
          <%= flash[:success] %>
        </div>
      </div>
    <% end %>

    <% if flash[:error] %>
      <div class="container small-container">
        <div class="alert alert-danger">
          <%= flash[:error] %>
        </div>
      </div>
    <% end %>

    <%= yield %>
    <div id='cont'>
      <div class='footerarticle' style='width:10%'>
        <h4>Items</h4>
        <li>item</li>
        <li>item</li>
        <li>item</li>
        <li>item</li>
      </div>
      <div class='footerarticle' style='width:10%'>
        <h4>Other Items</h4>
        <li>item</li>
        <li>item</li>
        <li>item</li>
        <li>item</li>
      </div>
      <div class='footerarticle' style='width:60%'>
        <span class='icon'><i class="fa fa-fw fa-twitter fa-2x"></i></span>
        <span class='icon'><i class="fa fa-fw fa-facebook fa-2x"></i></span>
        <span class='icon'><i class="fa fa-fw fa-instagram fa-2x"></i></span>
        <span class='icon'><a><i class="fa fa-fw fa-linkedin fa-2x"></i></a></span>
      </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="purchaseLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">

			      <%= form_tag(login_path, id: "login_form") do %>
	            <label for="email">Email</label>
              <br>
	            <%= text_field_tag :email, nil, required: true, class: "form-control" %>
              <label for="password">Password</label>
              <br>
	            <%= password_field_tag :password, nil, required: true, class: "form-control" %>
              <br>
	            <%= submit_tag "Log In!", class: "btn btn-primary" %>
			      <% end %>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
